{% extends 'base.html' %}
{% block title %}
超级管家-进销存管理系统
{% endblock %}

{% block css %}

{% endblock %}
{% block content %}
<div class="container">
    <H1 class="hidden">销售主页</H1>
    <div class="row">
        <div class="col-sm-3">
            <a href="/sale/new/"><div class="yellow-block" >
                <div style="padding:10px; color: white; font-size:70px; text-align:center;">新增<br>销售</div>
            </div></a>
        </div>
        <div class="col-sm-3">
            <a href="/sale/refunds/"><div class="green-block">
                <div style="padding:10px; color: white; font-size:70px; text-align:center;">销售<br>退货</div>
            </div></a>
        </div>
    </div>
</div>
{% endblock %}