body {
    padding-top: 70px;
}
a, a:link, a:visited, a:active{
    text-decoration:none;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.red-block {
    background-color: rgb(252, 133, 86);
    border: 1px solid rgb(244, 114, 56);
    padding:3px;
}
.yellow-block {
    background-color: rgb(248, 187, 57);
    border: 1px solid rgb(233, 169, 16);
    padding:3px;
}
.green-block {
    background-color: rgb(71, 192, 86);
    border: 1px solid rgb(46, 177, 60);
    padding:3px;
}
.blue-block {
    background-color: rgb(91, 143, 212);
    border: 1px solid rgb(71, 121, 200);
    padding:3px;
}
.warn_nums {
    color: white;
    font-size:100px;
    text-align:center;
}