{% extends 'base.html' %}
{% block title %}
超级管家-进销存管理系统
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/index.css">
{% endblock %}
{% block content %}
<div class="container">
    <H1 class="hidden">超级管家主页</H1>
    <div class="row">
        <div class="col-sm-3">
            <div class="red-block">
                <span style="color: white">库存预警</span>
                <div class="warn_nums">0</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="yellow-block">
                <span style="color: white">今日采购笔数</span>
                <div class="warn_nums">{{ purchases }}</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="green-block">
                <span style="color: white">今日销售笔数</span>
                <div class="warn_nums">{{ sales }}</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="blue-block">
                <span style="color: white">今日收款笔数</span>
                <div class="warn_nums">0</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}