{% extends 'base.html' %}
{% block title %}
超级管家-进销存管理系统
{% endblock %}

{% block css %}

{% endblock %}
{% block content %}
<div class="container">
    <H1 class="hidden">采购主页</H1>
    <div class="row">
        <div class="col-sm-3">
            <a href="/purchase/new/"><div class="red-block" >
                <div style="padding:10px; color: white; font-size:70px; text-align:center;">新增<br>采购</div>
            </div></a>
        </div>
        <div class="col-sm-3">
            <a href="/purchase/refunds/"><div class="blue-block">
                <div style="padding:10px; color: white; font-size:70px; text-align:center;">采购<br>退货</div>
            </div></a>
        </div>
        <div class="col-sm-3">
            <a href="/purchase/today/list/"><div class="yellow-block">
                <div style="padding:10px; color: white; font-size:70px; text-align:center;">今日<br>采购</div>
            </div></a>
        </div>
        <div class="col-sm-3">
            <a href="/purchase/list/"><div class="green-block">
                <div style="padding:10px; color: white; font-size:70px; text-align:center;">所有<br>采购</div>
            </div></a>
        </div>
    </div>
</div>
{% endblock %}