{% extends 'base.html' %}
{% block title %}
超级管家-进销存管理系统
{% endblock %}

{% block css %}

{% endblock %}
{% block content %}
<div class="container">
    <H1 class="hidden">新建采购</H1>
    <div class="gray-border">

    </div>

    <div class="panel panel-info">
        <div class="panel-heading">新增采购单</div>
        <div class="panel-body">
            Basic panel example
        </div>
        <!-- Table -->
        <div class="table-responsive padding-15">
            <table class="table table-bordered">
                <caption>货品清单</caption>
                <thead>
                <tr>
                    <th>名称</th>
                    <th>城市</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                </tr>
                <tr>
                    <td>Sachin</td>
                    <td>Mumbai</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-body">
            Basic panel example
        </div>
    </div>
</div>
{% endblock %}