{% extends 'base.html' %}
{% block title %}
超级管家-进销存管理系统
{% endblock %}

{% block css %}

{% endblock %}
{% block content %}
<div class="container">
    <H1 class="hidden">库存详情</H1>
    <p class="text-right">{{ today }}</p>
    {% for sto in stocks %}
    <div class="panel panel-success">
        <div class="panel-heading align-center">{{ sto.name }}的库存</div>
        <table class="table table-bordered">
            <thead>
            <td>产品</td>
            <td>数量</td>
            <td>时间</td>
            <td>类型</td>
            </thead>
            <tbody>
            {% for pro in sto.pros %}
            <tr {% if pro.num < pro.min %} class="danger" {% endif %}>
            <td>{{ pro.name }}</td>
            <td>{{ pro.num }}</td>
            <td>{{ pro.date }}</td>
            <td>{{ pro.type }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}