@media (min-width: 768px) {
.form-signin {
    max-width: 380px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin-inner{
    padding: 9px 29px 29px;
}
.form-signin .form-signin-heading, .form-signin .checkbox, .form-signin h2 {
    margin-bottom: 30px;
}
.form-signin .form-actions{
    margin: 0;
}
}